Package: com.shinvou.SmartBatteryPercentage
Name: SmartBatteryPercentage
Depends: mobilesubstrate
Version: 1.2
Architecture: iphoneos-arm
Description: SmartBatteryPercentage
Author: Timm Kandziora
Section: Tweaks
